<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RMModel" connectionString="metadata=res://*/RMModel.csdl|res://*/RMModel.ssdl|res://*/RMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-17P8BQI\DIEGOHOST;initial catalog=RM.DV.Core;persist security info=True;user id=Servicio;password=080291;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>